/*--------------------------------------------------------------
GENERAL
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
  transition: all 0.3s;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

/*--------------------------------------------------------------
MAIN
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}


@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 20px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}


/*--------------------------------------------------------------
HEADER
--------------------------------------------------------------*/
.logo {
  line-height: 2;
}
.logo img {
  max-height: 45px;
  margin-right: 2px;
}

.logo span {
  font-size: 20px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}


.header .toggle-sidebar-btn{
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}

.menu {
  font-size: 17px;
  font-weight: 600;
  margin-left: 5px;
  color: #012970;
}

.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}




/*--------------------------------------------------------------
SIDEBAR
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: -280px;
  bottom: 0;
  width: 280px;
  z-index: 996;
  transition: all 0.3s;
  padding: 15px;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

.sidebar.active {
  left: 0;
}

.sidebar-nav {
  padding: 0;
  list-style: none;
}


.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 42px;
  color: #012970;
}

.sidebar-nav .nav-link i {
  font-size: 22px;
  margin-right: 10px;
}

.sidebar-nav .nav-link.active {
  color: #4154f1;
  background: #f6f9ff;
}

.sidebar-nav .nav-link.active i {
  color: #4154f1;
}

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}


.footer .copyright {
  text-align: center;
  color: #012970;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}