{% load static %}
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solver-Shaft</title>
    <!-- Favicons -->
    <link href="{% static 'shaft/favicon.png' %}" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- ======= External CSS Files ======= -->
    <link rel="stylesheet" href="{% static 'shaft/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shaft/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'shaft/vendor/aos/aos.css' %}">
    <!-- ======= Main CSS Files ======= -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex justify-content-between align-items-center">

        <div id="logo">
            <a href="{% url 'home:home' %}"><img src="{% static 'home/logo2.png' %}" alt=""></a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="{% url 'shaft:input' %}">Mulai</a></li>
            <li><a class="nav-link scrollto" href="#features">Fitur</a></li>
            <li><a class="nav-link scrollto" href="#tentang">Tentang</a></li>
            <li><a class="nav-link scrollto" href="#contact">Kontak</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero ======= -->
    <section id="hero" class="d-flex align-items-center" data-aos="fade">
        <div class="container pt-5 text-center border-bottom">
            <div class="logo-container mx-auto mb-3" data-aos="fade-up" data-aos-duration="1500">
                <a href="{% url 'home:home' %}" class="logo d-flex align-items-center">
                  <img src="{% static 'home/logo.png' %}" alt="">
                  <span class="display-4 fw-bold">Solver-Shaft</span>
                </a>
            </div>
            <div class="col-lg-6 mx-auto" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500">
                <p class="hero-text lead mb-4">Solusi Desain Poros Mekanis yang Cepat dan Mudah</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <a href="{% url 'shaft:input' %}" class="btn-get-started px-4 me-sm-3">Mulai Desain</a>
                    <a href="{% url 'shaft:about' %}" class="btn-get-started px-4">Pelajari lebih lanjut</a>
                </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;" data-aos="fade-left" data-aos-duration="1500">
                <img src="{% static 'home/hero-image.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </section>
    <!-- ======= Fitur  ======= -->
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box" data-aos="fade-up">
                        <i class="bi bi-check2-circle"></i>
                        <h3 class="feature-title">Mudah Digunakan</h3>
                        <p class="feature-text">Antarmuka yang ramah pengguna dan mudah dipahami, menjadikan Solver-Shaft alat yang mudah digunakan untuk desain poros mekanis.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-speedometer2"></i>
                        <h3 class="feature-title">Cepat dan Efisien</h3>
                        <p class="feature-text">Solver-Shaft dirancang untuk memberikan hasil yang cepat dan efisien, sehingga Anda dapat segera melihat hasil desain poros Anda.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-book"></i>
                        <h3 class="feature-title">Berdasarkan Prinsip yang Terbukti</h3>
                        <p class="feature-text">Dibangun berdasarkan prinsip-prinsip yang terdapat dalam buku Machine Elements in Mechanical Design oleh Robert L. Mott, Solver-Shaft menjamin keandalan desain poros Anda.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Tentang ======= -->
    <section id="tentang" class="tentang" data-aos="fade-up">
        <div class="container">
            <div class="section-title">
                <h2>Tentang</h2>
            </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="profil-item">
                    <img src="{% static 'shaft/img/profil-1.jpg' %}" class="profil-img" alt="">
                    <h3>Nama</h3>
                    <p class="profil-text">deskripsi</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="profil-item">
                    <img src="{% static 'shaft/img/profil-2.jpg' %}" class="profil-img" alt="">
                    <h3>Nama</h3>
                    <p class="profil-text">deskripsi</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="profil-item">
                    <img src="{% static 'shaft/img/profil-3.jpg' %}" class="profil-img" alt="">
                    <h3>Nama</h3>
                    <p class="profil-text">deskripsi</p>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- ======= Kontak ======= -->
    <section id="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title" data-aos="fade-up">
                <h2>Kontak Kami</h2>
            </div>
            <div class="row">
    
            <div class="col-lg-4 col-md-4">
                <div class="contact-about">
                        <div class="logo-kontak d-flex align-items-center">
                          <img src="{% static 'home/logo.png' %}" alt="">
                          <span class="display-6 fw-bold">Solver-Shaft</span>
                    </div>
                <div class="info">
                    <i class="bi bi-envelope"></i>
                    <p>msolvershaft@gmail.com</p>
                </div>
                <div class="social-links">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
                </div>
            </div>
    
            <div class="col-lg-8">
                <div class="form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                    <div class="form-group col-lg-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                    </div>
                    <div class="form-group col-lg-6 mt-3 mt-lg-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                    </div>
                    </div>
                    <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                    </div>
                    <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Telah Terkirim. Terimakasih!</div>
                    </div>
                    <div class="text-center"><button type="submit" title="Send Message">Kirim</button></div>
                </form>
                </div>
            </div>
    
            </div>
    
        </div>
        </section><!-- End Contact Section -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Teknik Mesin UNSRAT</span></strong>
        </div>
        <div class="credits">Programmed by <strong>Andrie Harry</strong>
        </div>
    </footer>


    <!-- External JS File -->
    <script src="{% static 'shaft/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'shaft/vendor/aos/aos.js' %}"></script>

   <!-- Main JS File -->
    <script src="{% static 'home/js/main.js' %}"></script>
    <script>
          AOS.init();
    </script>
  </body>
</html>