{% extends "shaft/layout.html" %}
{% load static %}

        {% block title %}Input Form{% endblock %}

{% block body %}
    <h1>INPUT PAGE</h1>
    <form action="{% url 'shaft:output' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.N.label_tag }}
        {{ form.N }}
        <p>
            {{ form.RadioSelectDayaTorsi.label_tag }}
            {{ form.RadioSelectDayaTorsi }}
        </p>
        <div id="Daya">
            {{ form.P.label_tag }}
            {{ form.P }}
        <p>
            {{ form.n.label_tag }}
            {{ form.n }}
        </p>
        </div>
        <div id="Torsi">
        <p>
            {{ form.T.label_tag }}
            {{ form.T }}
        </p>
        </div>
        <p>
        {{ form.Material.label_tag }}
        {{ form.Material }}
        </p>
        <p>
        {{ form.Ft.label_tag }}
        {{ form.Ft }}
        </p>
        <p>
        {{ form.Fr.label_tag }}
        {{ form.Fr }}
        </p>
        <p>
        {{ form.AB.label_tag }}
        {{ form.AB }}
        </p>
        <p>
        {{ form.BC.label_tag }}
        {{ form.BC }}
        </p>
        <input type="submit" value="Submit"/>
    </form>

    
    <script>
        var radios = document.getElementsByName('RadioSelectDayaTorsi');
        var daya = document.getElementById('Daya');
        var torsi = document.getElementById('Torsi');
    
        for(var i = 0; i < radios.length; i++) {
            radios[i].onchange = function() {
                if(this.value == 'D') {
                    daya.style.display = "block";
                    torsi.style.display = "none";
                } else if (this.value == 'T') {
                    daya.style.display = "none";
                    torsi.style.display = "block";
                }
            }
        }
        radios[0].checked = true;
        torsi.style.display = "none";
    </script>
</body>

    <img src="{% static 'shaft/tipe1.jpg' %}" alt="tipe1" width="40%" height="auto">
{% endblock %}


        <!-- 
       <label>Faktor Keamanan: </label>
			<input type="number" step="any" min = "0" name="N" placeholder=""><br><br>
        <label>Nilai Konsentrasi Tegangan: </label>
			<input type="number" step="any" min = "0" name="Kt" placeholder=""><br><br>
		<label>Momen Lentur: </label>
			<input type="number" step="any" min = "0" name="M" placeholder="N-mm"><br><br>
        <label>Momen Puntir / Torsi: </label>
			<input type="number" step="any" min = "0" name="T" placeholder="N-mm"><br><br>
        <label>Tegangan Luluh Bahan: </label>
			<input type="number" step="any" min = "0" name="Sy" placeholder="MPa"><br><br>
        <label>Tegangan / Kekuatan Lelah aktual </label>
			<input type="number" step="any" min = "0" name="Sn" placeholder="MPa"><br><br>
         -->