{% extends "shaft/layout.html" %}
{% load static %}

        {% block title %}Input Form{% endblock %}

{% block body %}
    <h1>INPUT PAGE</h1>
    <form action="{% url 'shaft:output' %}" method="post">
        {% csrf_token %}
        <!-- 
       <label>Faktor Keamanan: </label>
			<input type="number" step="any" min = "0" name="N" placeholder=""><br><br>
        <label>Nilai Konsentrasi Tegangan: </label>
			<input type="number" step="any" min = "0" name="Kt" placeholder=""><br><br>
		<label>Momen Lentur: </label>
			<input type="number" step="any" min = "0" name="M" placeholder="N-mm"><br><br>
        <label>Momen Puntir / Torsi: </label>
			<input type="number" step="any" min = "0" name="T" placeholder="N-mm"><br><br>
        <label>Tegangan Luluh Bahan: </label>
			<input type="number" step="any" min = "0" name="Sy" placeholder="MPa"><br><br>
        <label>Tegangan / Kekuatan Lelah aktual </label>
			<input type="number" step="any" min = "0" name="Sn" placeholder="MPa"><br><br>
         -->
         <label for="id_Material">Pilih Bahan :</label>
         <select name="material" id="">
            {% for material in materials %}
                <option value="{{ material.tegangan_tarik }}, {{ material.tegangan_luluh }}">{{ material }}</option>
            {% endfor %}
        </select>
         {{ form.as_p }}
            <input type="submit">
    </form>
</body>

    <img src="{% static 'shaft/tipe1.jpg' %}" alt="tipe1" width="40%" height="auto">
{% endblock %}