{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
          <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- ======= External CSS Files ======= -->
        <link rel="stylesheet" href="{% static 'shaft/vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'shaft/vendor/bootstrap-icons/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static 'shaft/vendor/aos/aos.css' %}">
        <!-- ======= Main CSS Files ======= -->
        <link rel="stylesheet" href="{% static 'shaft/css/style.css' %}">
    </head>
    <body id="body">
    <!-- ======= Header ======= -->
        <header class="header fixed-top d-flex justify-content-between">
            <div class="d-flex align-items-center">
                    <i id="toggle-sidebar-btn" class="bi bi-list toggle-sidebar-btn"></i>
                    <span class="menu">Menu</span>
            </div>
            <div class="p-2">
                <a href="{% url 'home:home' %}" class="logo d-flex align-items-center">
                    <img src="{% static 'shaft/logo3.png' %}" alt="">
                <span>Solver-Shaft</span>
                </a>
            </div>
            <div class="p-2 bg-info">Tanggal/Waktu</div>
        </header>
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'home:home' %}">
                        <i class="bi bi-house"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'input' %}active{% endif %}" href="{% url 'shaft:input' %}">
                        <i class="bi bi-box-arrow-in-down-left"></i>
                        <span>Halaman Input</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'shaft:about' %}">
                        <i class="bi bi-info-square"></i>
                        <span>About</span>
                    </a>
                </li>
            </ul>
        </aside>

        <main id="main" class="main" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
            {% block body %}
            {% endblock %}
        </main>

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
            &copy; Copyright <strong><span>Teknik Mesin UNSRAT</span></strong>
            </div>
            <div class="credits">Programmed by <a href=""><strong>Andrie Harry</strong></a>
            </div>
        </footer>
    

    <!-- External JS File -->
    <script src="{% static 'shaft/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'shaft/vendor/aos/aos.js' %}"></script>
    
    <script>
        AOS.init();
    </script>

    <!-- Main JS File -->
    <script src="{% static 'shaft/js/main.js' %}"></script>
    {% block extra_js %}
    {% endblock %}

    </body>
</html>