{% extends "shaft/layout.html" %}

        {% block title %}Output{% endblock %}

{% block body %}
<div class="pagetitle">
    <h1>Output</h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Shaft</li>
          <li class="breadcrumb-item">Input</li>
          <li class="breadcrumb-item active">Output</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
      <!-- ======= KOLOM KIRI ======= -->
      <!-- ======= Data Input Card ======= -->
      <div class="col-lg-7">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Input Data</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Input</th>
                    <th scope="col">Nilai</th>
                  </tr>
                </thead>
                <tbody>
                  {% if recaps|length == 8 %}
                    <tr><td>Faktor Keamanan</td><td>{{ recaps.0 }}</td></tr>
                    <tr><td>Daya</td><td>{{ recaps.1 }}</td></tr>
                    <tr><td>Kecepatan Putar</td><td>{{ recaps.2 }}</td></tr>
                    <tr><td>Gaya Tangensial</td><td>{{ recaps.3 }}</td></tr>
                    <tr><td>Gaya Radial</td><td>{{ recaps.4 }}</td></tr>
                    <tr><td>Jarak Antara Elemen A ke Elemen B</td><td>{{ recaps.5 }}</td></tr>
                    <tr><td>Jarak Antara Elemen B ke Elemen C</td><td>{{ recaps.6 }}</td></tr>
                    <tr><td>Material</td><td>{{ recaps.7 }}</td></tr>
                  {% elif recaps|length == 7 %}
                    <tr><td>Faktor Keamanan</td><td>{{ recaps.0 }}</td></tr>
                    <tr><td>Torsi</td><td>{{ recaps.1 }}</td></tr>
                    <tr><td>Gaya Tangensial</td><td>{{ recaps.2 }}</td></tr>
                    <tr><td>Gaya Radial</td><td>{{ recaps.3 }}</td></tr>
                    <tr><td>Jarak Antara Elemen A ke Elemen B</td><td>{{ recaps.4 }}</td></tr>
                    <tr><td>Jarak Antara Elemen B ke Elemen C</td><td>{{ recaps.5 }}</td></tr>
                    <tr><td>Material</td><td>{{ recaps.6 }}</td></tr>
                  {% elif recaps|length == 11 %}
                    <tr><td>Faktor Keamanan</td><td>{{ recaps.0 }}</td></tr>
                    <tr><td>Daya</td><td>{{ recaps.1 }}</td></tr>
                    <tr><td>Kecepatan Putar</td><td>{{ recaps.2 }}</td></tr>
                    <tr><td>Gaya Tangensial Pada Elemen 1</td><td>{{ recaps.3 }}</td></tr>
                    <tr><td>Gaya Radial Pada Elemen 1</td><td>{{ recaps.4 }}</td></tr>
                    <tr><td>Gaya Tangensial Pada Elemen 2</td><td>{{ recaps.5 }}</td></tr>
                    <tr><td>Gaya Radial Pada Elemen 2</td><td>{{ recaps.6 }}</td></tr>
                    <tr><td>Jarak Antara Elemen A ke Elemen B</td><td>{{ recaps.7 }}</td></tr>
                    <tr><td>Jarak Antara Elemen B ke Elemen C</td><td>{{ recaps.8 }}</td></tr>
                    <tr><td>Jarak Antara Elemen C ke Elemen D</td><td>{{ recaps.9 }}</td></tr>
                    <tr><td>Material</td><td>{{ recaps.10 }}</td></tr>
                  {% elif recaps|length == 10 %}
                    <tr><td>Faktor Keamanan</td><td>{{ recaps.0 }}</td></tr>
                    <tr><td>Torsi</td><td>{{ recaps.1 }}</td></tr>
                    <tr><td>Gaya Tangensial Pada Elemen 1</td><td>{{ recaps.2 }}</td></tr>
                    <tr><td>Gaya Radial Pada Elemen 1</td><td>{{ recaps.3 }}</td></tr>
                    <tr><td>Gaya Tangensial Pada Elemen 2</td><td>{{ recaps.4 }}</td></tr>
                    <tr><td>Gaya Radial Pada Elemen 2</td><td>{{ recaps.5 }}</td></tr>
                    <tr><td>Jarak Antara Elemen A ke Elemen B</td><td>{{ recaps.6 }}</td></tr>
                    <tr><td>Jarak Antara Elemen B ke Elemen C</td><td>{{ recaps.7 }}</td></tr>
                    <tr><td>Jarak Antara Elemen C ke Elemen D</td><td>{{ recaps.8 }}</td></tr>
                    <tr><td>Material</td><td>{{ recaps.9 }}</td></tr>
                  {% endif %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <!-- ======= Result Card ======= -->
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Diameter Minimum Pada Tiap Titik</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Titik</th>
                    <th scope="col">Diameter Minimum</th>
                  </tr>
                </thead>
                <tbody>
                  {% if results|length == 3 %}
                    <tr><td>D1 (Titik A)</td><td>{{ results.0 }}</td></tr>
                    <tr><td>D2 (Titik B)</td><td>{{ results.1 }}</td></tr>
                    <tr><td>D3 (Titik C)</td><td>{{ results.2 }}</td></tr>
                  {% else %}
                    <tr><td>D1 (Titik A)</td><td>{{ results.0 }}</td></tr>
                    <tr><td>D2 (Titik B)</td><td>{{ results.1 }}</td></tr>
                    <tr><td>D3 (Titik C)</td><td>{{ results.2 }}</td></tr>
                    <tr><td>D4 (Titik D)</td><td>{{ results.3 }}</td></tr>
                  {% endif %}
                </tbody>
              </table>
                {% for result in results %}
                    <li>{{ result }}</li>
                {% endfor %}
          </div>
        </div>
      </div>

      <!-- ======= Diameter Rancangan Card ======= -->
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Diameter Rancangan</h5>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Titik</th>
                    <th scope="col">Diameter Minimum</th>
                  </tr>
                </thead>
                <tbody>
                  {% if results|length == 3 %}
                    <tr><td>D1 (Titik A)</td><td>{{ results.0 }}</td></tr>
                    <tr><td>D2 (Titik B)</td><td>{{ results.1 }}</td></tr>
                    <tr><td>D3 (Titik C)</td><td>{{ results.2 }}</td></tr>
                  {% else %}
                    <tr><td>D1 (Titik A)</td><td>{{ results.0 }}</td></tr>
                    <tr><td>D2 (Titik B)</td><td>{{ results.1 }}</td></tr>
                    <tr><td>D3 (Titik C)</td><td>{{ results.2 }}</td></tr>
                    <tr><td>D4 (Titik D)</td><td>{{ results.3 }}</td></tr>
                  {% endif %}
                </tbody>
              </table>
                {% for result in results %}
                    <li>{{ result }}</li>
                {% endfor %}
          </div>
        </div>
      </div>
      
      
    </div>
</section>
    
{% endblock %}