{% extends "shaft/layout.html" %}

        {% block title %}Output{% endblock %}

{% block body %}
<div class="pagetitle">
    <h1>Output</h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Shaft</li>
          <li class="breadcrumb-item">Input</li>
          <li class="breadcrumb-item active">Output</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
      <!-- ======= KOLOM KIRI ======= -->
      <div class="col-lg-7">
        <div class="row">
          <!-- ======= Data Input Card ======= -->
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Input Data</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Input</th>
                        <th scope="col">Nilai</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if recaps|length == 8 %}
                        <tr><td>Faktor Keamanan</td><td>{{ recaps.0 }}</td></tr>
                        <tr><td>Daya</td><td>{{ recaps.1 }}</td></tr>
                        <tr><td>Kecepatan Putar</td><td>{{ recaps.2 }}</td></tr>
                        <tr><td>Gaya Tangensial</td><td>{{ recaps.3 }}</td></tr>
                        <tr><td>Gaya Radial</td><td>{{ recaps.4 }}</td></tr>
                        <tr><td>Jarak Antara Elemen A ke Elemen B</td><td><div id="AB">{{ recaps.5 }}</div></td></tr>
                        <tr><td>Jarak Antara Elemen B ke Elemen C</td><td><div id="BC">{{ recaps.6 }}</div></td></tr>
                        <tr><td>Material</td><td>{{ recaps.7 }}</td></tr>
                      {% elif recaps|length == 7 %}
                        <tr><td>Faktor Keamanan</td><td>{{ recaps.0 }}</td></tr>
                        <tr><td>Torsi</td><td>{{ recaps.1 }}</td></tr>
                        <tr><td>Gaya Tangensial</td><td>{{ recaps.2 }}</td></tr>
                        <tr><td>Gaya Radial</td><td>{{ recaps.3 }}</td></tr>
                        <tr><td>Jarak Antara Elemen A ke Elemen B</td><td>{{ recaps.4 }}</td></tr>
                        <tr><td>Jarak Antara Elemen B ke Elemen C</td><td>{{ recaps.5 }}</td></tr>
                        <tr><td>Material</td><td>{{ recaps.6 }}</td></tr>
                      {% elif recaps|length == 11 %}
                        <tr><td>Faktor Keamanan</td><td>{{ recaps.0 }}</td></tr>
                        <tr><td>Daya</td><td>{{ recaps.1 }}</td></tr>
                        <tr><td>Kecepatan Putar</td><td>{{ recaps.2 }}</td></tr>
                        <tr><td>Gaya Tangensial Pada Elemen 1</td><td>{{ recaps.3 }}</td></tr>
                        <tr><td>Gaya Radial Pada Elemen 1</td><td>{{ recaps.4 }}</td></tr>
                        <tr><td>Gaya Tangensial Pada Elemen 2</td><td>{{ recaps.5 }}</td></tr>
                        <tr><td>Gaya Radial Pada Elemen 2</td><td>{{ recaps.6 }}</td></tr>
                        <tr><td>Jarak Antara Elemen A ke Elemen B</td><td><div id="AB">{{ recaps.7 }}</div></td></tr>
                        <tr><td>Jarak Antara Elemen B ke Elemen C</td><td><div id="BC">{{ recaps.8 }}</div></td></tr>
                        <tr><td>Jarak Antara Elemen C ke Elemen D</td><td><div id="CD">{{ recaps.9 }}</div></td></tr>
                        <tr><td>Material</td><td>{{ recaps.10 }}</td></tr>
                      {% elif recaps|length == 10 %}
                        <tr><td>Faktor Keamanan</td><td>{{ recaps.0 }}</td></tr>
                        <tr><td>Torsi</td><td>{{ recaps.1 }}</td></tr>
                        <tr><td>Gaya Tangensial Pada Elemen 1</td><td>{{ recaps.2 }}</td></tr>
                        <tr><td>Gaya Radial Pada Elemen 1</td><td>{{ recaps.3 }}</td></tr>
                        <tr><td>Gaya Tangensial Pada Elemen 2</td><td>{{ recaps.4 }}</td></tr>
                        <tr><td>Gaya Radial Pada Elemen 2</td><td>{{ recaps.5 }}</td></tr>
                        <tr><td>Jarak Antara Elemen A ke Elemen B</td><td><div id="AB">{{ recaps.6 }}</div></td></tr>
                        <tr><td>Jarak Antara Elemen B ke Elemen C</td><td><div id="BC">{{ recaps.7 }}</div></td></tr>
                        <tr><td>Jarak Antara Elemen C ke Elemen D</td><td><div id="CD">{{ recaps.8 }}</div></td></tr>
                        <tr><td>Material</td><td>{{ recaps.9 }}</td></tr>
                      {% endif %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- Akhir Kolom Kiri -->

      <!-- ======= KOLOM KANAN ======= -->
      <div class="col-lg-5">
        <!-- ======= Diameter Minimum ======= -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Diameter Minimum</h5>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Titik</th>
                      <th scope="col">Diameter Minimum</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if results|length == 3 %}
                      <tr><td>D1 (Titik A)</td><td>{{ results.0 }}</td></tr>
                      <tr><td>D2 (Titik B)</td><td>{{ results.1 }}</td></tr>
                      <tr><td>D3 (Titik C)</td><td>{{ results.2 }}</td></tr>
                    {% else %}
                      <tr><td>D1 (Titik A)</td><td>{{ results.0 }}</td></tr>
                      <tr><td>D2 (Titik B)</td><td>{{ results.1 }}</td></tr>
                      <tr><td>D3 (Titik C)</td><td>{{ results.2 }}</td></tr>
                      <tr><td>D4 (Titik D)</td><td>{{ results.3 }}</td></tr>
                    {% endif %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>

        <!-- ======= Diameter Rancangan ======= -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Diameter Rancangan</h5>
              <form>
                {% csrf_token %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Titik</th>
                      <th scope="col">Diameter Rancangan</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if results|length == 3 %}
                      <tr><td>D1 (Titik A)</td><td><input type="number" class="form-control form-control-sm" id="D1" placeholder="mm"></td></tr>
                      <tr><td>D2 (Titik B)</td><td><input type="number" class="form-control form-control-sm" id="D2" placeholder="mm"></td></tr>
                      <tr><td>D3 (Titik C)</td><td><input type="number" class="form-control form-control-sm" id="D3" placeholder="mm"></td></tr>
                    {% else %}
                      <tr><td>D1 (Titik A)</td><td><input type="number" class="form-control form-control-sm" id="D1" placeholder="mm"></td></tr>
                      <tr><td>D2 (Titik B)</td><td><input type="number" class="form-control form-control-sm" id="D2" placeholder="mm"></td></tr>
                      <tr><td>D3 (Titik C)</td><td><input type="number" class="form-control form-control-sm" id="D3" placeholder="mm"></td></tr>
                      <tr><td>D4 (Titik D)</td><td><input type="number" class="form-control form-control-sm" id="D4" placeholder="mm"></td></tr>
                    {% endif %}
                  </tbody>
                </table>
                <div class="text-center">
                  <button type="button" class="btn btn-primary" onclick="GenerateImage()">Buat Gambar</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>


      </div> <!-- Akhir Kolom Kanan -->
      
    </div>  <!-- Akhir Kiri/Kanan -->

    <!-- ======= Gambar Card ======= -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gambar</h5>
              <img id="generated_shaft_image" src="" alt="Generated shaft image" width="90%" height="auto" class="mx-auto d-block"/>
              <div class="text-center">
                <button type="button" class="btn btn-outline-danger"><i class="bi bi-filetype-pdf"> </i> Download as .PDF</button>
                <button type="reset" class="btn btn-outline-success"><i class="bi bi-images"> </i> Download as .PNG</button>
              </div>
          </div>
        </div>
      </div>
    </div>

</section>
    
{% endblock %}

{% block extra_js %}
<script>
  function GenerateImage() {
      const D1 = document.getElementById("D1").value;
      const D2 = document.getElementById("D2").value;
      const D3 = document.getElementById("D3").value;
      const D4 = document.getElementById("D4") ? document.getElementById("D4").value : null;
      const AB = parseFloat(document.getElementById("AB").textContent);
      const BC = parseFloat(document.getElementById("BC").textContent);
      const CD = document.getElementById("CD") && document.getElementById("CD").textContent ? parseFloat(document.getElementById("CD").textContent) : null;
  
      let url = `/shaft/generate_shaft_image?D1=${D1}&D2=${D2}&D3=${D3}&AB=${AB}&BC=${BC}`;
      if (D4) {
          url += `&CD=${CD}`;
          url += `&D4=${D4}`;
      }
  
      fetch(url)
          .then(response => response.blob())
          .then(imageBlob => {
              const image = document.getElementById("generated_shaft_image");
              const imageURL = URL.createObjectURL(imageBlob);
              image.src = imageURL;
          });
  }
  </script>
{% endblock %}
